.u-section-1 {
  background-image: url("{{url_for('static', filename='images/asdasd.png')}}");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1237px;
}

.u-section-1 .u-group-1 {
  min-height: 74px;
  width: 1223px;
  background-image: linear-gradient(to right, #666666, rgba(255,255,255,0));
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px -42px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -6px 927px -6px 0;
}

.u-section-1 .u-group-2 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 8px auto 0 0;
}

.u-section-1 .u-image-1 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive3.png')}}");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  width: 197px;
  min-height: 200px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -202px auto 0 251px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 97px;
  height: 99px;
  margin: 19px auto 0;
}

.u-section-1 .u-group-4 {
  min-height: 74px;
  width: 1223px;
  background-image: linear-gradient(to right, #666666, rgba(255,255,255,0));
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 21px -42px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -6px 927px -6px 0;
}

.u-section-1 .u-group-5 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 8px auto 0 0;
}

.u-section-1 .u-image-3 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive1.png')}}");
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-6 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -201px auto 0 252px;
}

.u-section-1 .u-image-4 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive.png')}}");
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-group-7 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -204px 436px 0 auto;
}

.u-section-1 .u-image-5 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive21.png')}}");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-group-8 {
  min-height: 74px;
  width: 1223px;
  background-image: linear-gradient(to right, #666666, rgba(255,255,255,0));
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 7px -42px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -6px 927px -6px 0;
}

.u-section-1 .u-group-9 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 8px auto 0 0;
}

.u-section-1 .u-image-6 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive7.png')}}");
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-group-10 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -203px auto 0 254px;
}

.u-section-1 .u-image-7 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive8.png')}}");
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-group-11 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -203px 430px 0 auto;
}

.u-section-1 .u-image-8 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive9.png')}}");
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-group-12 {
  min-height: 74px;
  width: 1223px;
  background-image: linear-gradient(to right, #666666, rgba(255,255,255,0));
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 8px -42px 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -6px 927px -6px 0;
}

.u-section-1 .u-group-13 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 0;
}

.u-section-1 .u-image-9 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive4.png')}}");
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-group-14 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -203px auto 0 254px;
}

.u-section-1 .u-image-10 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive5.png')}}");
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-group-15 {
  width: 201px;
  min-height: 203px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -203px 432px 30px auto;
}

.u-section-1 .u-image-11 {
  background-image: url("{{url_for('static', filename='images/Screenshot_2020-12-25files-GoogleDrive6.png')}}");
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 644px;
  }

  .u-section-1 .u-group-2 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-3 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-4 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 644px;
  }

  .u-section-1 .u-group-5 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-6 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-7 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-8 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 644px;
  }

  .u-section-1 .u-group-9 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-10 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-11 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-12 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 644px;
  }

  .u-section-1 .u-group-13 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-14 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-15 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 424px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 424px;
  }

  .u-section-1 .u-group-8 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 424px;
  }

  .u-section-1 .u-group-12 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 284px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 284px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 339px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-8 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 284px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-11 {
    margin-right: 339px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-12 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 284px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-15 {
    margin-right: 339px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 143px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 84px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 139px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 139px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 84px;
  }

  .u-section-1 .u-group-10 {
    margin-left: 139px;
  }

  .u-section-1 .u-group-11 {
    margin-right: 139px;
  }

  .u-section-1 .u-group-12 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 84px;
  }

  .u-section-1 .u-group-14 {
    margin-left: 139px;
  }

  .u-section-1 .u-group-15 {
    margin-right: 139px;
  }
}